#################
## Eclipse
#################

*.pydevproject

.project
.metadata
bin/
eclipse/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
crash-reports/
logs/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Forge
#################

.gradle/
mods/
resourcepacks/
saves/
/options.txt

#################
## Dev
#################